@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Shockers";
  src: url("/fonts/Downlink.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Shockers";
  src: url("/fonts/Downlink Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Downlink", "sans-serif";
}
